html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 75rem; /* Minimum navbar */
  padding-top: 3.5rem; /* Margin top by nav bar */
  padding-bottom: 3.5rem; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.form-group textarea {
	margin: 0.5em 0px;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
    display: none;
}
