name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: rust-toolchain
      uses: actions-rs/toolchain@v1.0.6
      with: 
        toolchain: nightly
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
